.slider h3,
.parallax-container h1, 
.slider h5 {
    text-shadow: 3px 3px 6px rgba(0,0,0,0.8);
}

.parallax-container{
    height: 150px;
}

.about {
    padding-bottom: 40px;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.8 !important;
}

.footer-copyright {
    padding-bottom: 0 !important;
}

section, footer {
    padding : 20px 0;
}